# Root Rust target and build artifacts
target/
**/.DS_Store
 
# Ignore any user project directories or build artifacts nested inside the custom extension slots,
# while leaving the base template files (Cargo.toml, src/lib.rs) tracked.
extensions/custom-*/*/*
extensions/custom-*/target/
extensions/custom-*/Cargo.lock

# Gooney-Emu Compiled Plugins & Extension Build Artifacts
crates/gooney-core/plugins/*.so
extensions/**/target/
extensions/**/.connected

# Ignore everything in the HDL workspace...
hdl/*
# ...except for the documentation/checklist file
!hdl/ANALYZE.md
!hdl/COSIM.md

